---
import HorizontalSeparator from '../components/HorizontalSeparator.svelte';
import VerticalSeparator from '../components/VerticalSeparator.svelte';
import Person, { type PersonProps } from '../components/Person.svelte';
import Header from '../components/Header.svelte';
import Footer from '../components/Footer.svelte';
import Link from '../components/Link.svelte';
import '../styles/global.css';

export const coolPeople: PersonProps[] = [
  { name: 'aidn5', github: 'aidn3' },
  { name: 'Bloxigus' },
  { name: 'DuckySoLucky', site: 'https://duckysolucky.is-a.dev' },
  { name: 'Empa', github: 'ItsEmpa', note: 'emma' },
  { name: 'Juna', github: 'j10a1n15', note: 'Tuba' },
  { name: 'MadelynWith5Ns', github: 'madelynwith5ns', site: 'https://mw5ns.com' },
  { name: 'Mat', github: 'mat-1', site: 'https://matdoes.dev' },
  { name: 'Meowora', site: 'https://mona.cat' },
  { name: 'Polsulpicien' },
  { name: 'RagingEnby', site: 'https://ragingenby.dev' },
  { name: 'saadndm' },
  { name: 'SoopyBoo32', site: 'https://soopy.dev', note: 'SoopyV3' },
  { name: 'ThatGravyBoat', site: 'https://thatgravyboat.tech' },
  { name: 'Zickles', note: 'Paid to be hjre' }
];

export interface Button {
  alt: string;
  src: string;
  href?: string;
}

export const peopleButtons: Button[] = [
  { alt: 'kathund', src: '/button/kath.png', href: 'https://kathund.dev' },
  { alt: 'mat', src: '/button/mat.png', href: 'https://matdoes.dev' }
];

export const buttons: Button[] = [
  { alt: 'I use NixOS by the way!', src: '/button/nix_dark.webp', href: 'https://nixos.org' },
  { alt: 'Powered By NixOS', src: '/button/powered_by_nixos.gif', href: 'https://nixos.org' },
  { alt: 'Built With Nix!', src: '/button/built_with_nix.gif', href: 'https://nixos.org' },
  { alt: 'Teted on Firefox', src: '/button/tested_on_firefox.gif', href: 'https://firefox.com' },
  { alt: 'Build With Astro', src: '/button/build_with_astro.png', href: 'https://astro.build' },
  { alt: 'Build With Svelte', src: '/button/build_with_svelte.gif', href: 'https://svelte.dev' },
  { alt: 'neovim', src: '/button/neovim.gif', href: 'https://neovim.io' },
  { alt: 'Anything But Chrome', src: '/button/anything_but_chrome.gif', href: 'https://firefox.com' },
  { alt: 'I like pooters', src: '/button/i_like_computer.png' },
  { alt: 'Internet Privacy', src: '/button/internet_privacy.gif', href: 'https://eff.org' },
  { alt: 'Internet Archive', src: '/button/internet-archive.png', href: 'https://archive.org/' },
  { alt: 'Privacy Now!', src: '/button/privacy_now.gif', href: '/kathund-pgp-public.pgp' },
  { alt: 'qBittorrent', src: '/button/qbittorrent.png', href: 'https://www.qbittorrent.org/' },
  { alt: 'Seed Torrents! Please', src: '/button/seed-torrents.gif', href: 'https://www.qbittorrent.org/' },
  { alt: 'Best Viewed On Desktop!', src: '/button/best-on-desktop.gif' },
  { alt: "Don't feed AI", src: '/button/dont_feed_ai.gif' },
  { alt: 'AI is theft', src: '/button/ai_is_theft.webp' },
  { alt: 'No AI', src: '/button/anti_ai.gif' }
];
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="icon" href="/favicon.ico" />
  </head>

  <body class="latte bg-ctp-mantle text-ctp-text flex min-h-screen items-center justify-center">
    <main class="my-32 max-w-8/10 min-w-4/10 font-mono">
      <Header client:only />

      <div class="flex flex-col gap-3">
        <div>
          <p class="text-2xl">Silly dev that writes <span class="text-ctp-red">bad</span> code!</p>
          <p>I primarily uses <Link href="https://github.com/kathund/nix-config" text="NixOS" /> and NeoVim (uwu)</p>
          <p>I'm <Link href="https://time.is/UTC+8" text="UTC+8" /> so expect responses between 10am - 2am!</p>
          <p>
            If I do not respond <span class="text-bold underline">PLEASE</span> send a follow up message as I get very distracted!
          </p>
        </div>

        <div>
          <p class="text-xl">Languages:</p>
          <p>- TypeScript/JavaScript</p>
          <p>- Rust</p>
          <p>- Java/Kotlin</p>
        </div>

        <div class="flex flex-col">
          <p class="text-xl">Random things I know how to use:</p>
          <Link href="https://astro.build/" text="- Astro" />
          <Link href="https://bun.sh" text="- Bun" />
          <Link href="https://cloudflare.com" text="- Cloudflare" />
          <Link href="https://discord.js.org" text="- Discord.js" />
          <Link href="https://ejs.co/" text="- EJS" />
          <Link href="https://nodejs.org/en" text="- Node.js" />
          <Link href="https://react.dev/" text="- React" />
          <Link href="https://sass-lang.com/" text="- SASS" />
          <Link href="https://svelte.dev/" text="- Svelte" />
          <Link href="https://tailwindcss.com/" text="- TailwindCSS" />
        </div>

        <div class="flex flex-col">
          <p class="text-xl">Links:</p>
          <Link href="https://discord.com/users/1276524855445164098" text="- Discord" />
          <Link href="https://github.com/Kathund" text="- GitHub" />
        </div>
      </div>

      <Footer client:only />
      <HorizontalSeparator />
      <div class="flex flex-row gap-2">
        <div class="flex flex-col gap-2">
          <div>
            <p>Cool people!</p>
            <p class="text-ctp-text/50 text-sm">If you ever looking for good devs please check them out</p>
          </div>
          <div class="flex flex-col gap-2">
            {
              coolPeople
                .sort((a, b) => a.name.localeCompare(b.name))
                .map((person) => (
                  <Person name={person.name} github={person.github} site={person.site} note={person.note} />
                ))
            }
          </div>
        </div>
        <VerticalSeparator />

        <div>
          <div class="grid h-fit grid-cols-3 gap-0 p-2">
            {
              peopleButtons.map((badge) => (
                <a href={badge.href} class="h-[31px] w-[88px]" target="_blank">
                  <img src={badge.src} alt={badge.alt} width="88" height="31" class="h-[31px] w-[88px]" />
                </a>
              ))
            }
          </div>
          <HorizontalSeparator />
          <div class="grid h-fit grid-cols-3 gap-0 p-2">
            {
              buttons.map((badge) => (
                <a href={badge.href} class="h-[31px] w-[88px]" target="_blank">
                  <img src={badge.src} alt={badge.alt} width="88" height="31" class="h-[31px] w-[88px]" />
                </a>
              ))
            }
          </div>
        </div>
      </div>
    </main>
  </body>
</html>
