---
import Project, { type ProjectProps } from '../../components/Project.svelte';
import Layout from '../../layouts/Layout.astro';

export const projects: ProjectProps[] = [
  {
    title: 'Hypixel API Reborn',
    lines: [
      'Hypixel-API-Reborn the <span class="text-ctp-red-600 text-bold">ULTIMATE</span> and <span class="text-ctp-red-600 text-bold">EASIEST</span> way to interact with the Hypixel API while having complete type safety!'
    ],
    links: [
      { tag: 'GitHub', href: 'https://github.com/Hypixel-API-Reborn/Hypixel-API-Reborn/' },
      { tag: 'npm', href: 'https://www.npmjs.com/package/hypixel-api-reborn' },
      { tag: 'Docs', href: 'https://hypixel-api-reborn.github.io/hypixel-api-reborn/' },
      { tag: 'Discord', href: 'https://discord.gg/NSEBNMM' }
    ],
    built: [{ tag: 'TypeScript' }, { tag: 'npm' }, { tag: 'NodeJS' }],
    involvement: 'Maintainer'
  },
  {
    title: 'OneClient',
    lines: [
      'The anti-client for minecraft!',
      'Designed to be easy to use and built from the ground up to be fully open!'
    ],
    links: [
      { tag: 'GitHub', href: 'https://github.com/Polyfrost/OneLauncher' },
      { tag: 'Website', href: 'https://polyfrost.org/projects/oneclient' }
    ],
    built: [
      { tag: 'Tauri' },
      { tag: 'Rust' },
      { tag: 'TypeScript' },
      { tag: 'React' },
      { tag: 'TailwindCSS' },
      { tag: 'TanStack' }
    ],
    involvement: 'Maintainer'
  },
  {
    title: 'Spotify Manager',
    lines: ['Let anyone control your Spotify from an easy to use discord bot...', 'What could go wrong!'],
    links: [
      { tag: 'GitHub', href: 'https://github.com/Kathund/Spotify-Manager' },
      { tag: 'Invite', href: 'https://discord.com/oauth2/authorize?client_id=1282608162591211583' }
    ],
    built: [{ tag: 'Bun' }, { tag: 'TypeScript' }],
    involvement: 'Developer'
  },
  {
    title: 'kathund.dev (this site)',
    lines: ['Semi full list of Projects I have worked on'],
    links: [
      { tag: 'GitHub', href: 'https://github.com/Kathund/kathund.dev' },
      { tag: 'Website', href: 'https://kathund.dev' }
    ],
    built: [
      { tag: 'TypeScript' },
      { tag: 'Svelte' },
      { tag: 'TailwindCSS' },
      { tag: 'Astro' },
      { tag: 'Cloudflare Workers' }
    ],
    involvement: 'Developer'
  },
  {
    title: 'Hypixel Discord Chat Bridge',
    lines: [
      'A two-way chat bridge between Hypixel guild chat and a Discord channel.',
      'The application utilizes discord.js v14 for communicating with Discord, and Mineflayer for communicating with Hypixel'
    ],
    links: [{ tag: 'GitHub', href: 'https://github.com/DuckySoLucky/hypixel-discord-chat-bridge' }],
    built: [{ tag: 'JavaScript' }, { tag: 'Mineflayer' }, { tag: 'Discord.js' }],
    involvement: 'Contributor'
  },
  {
    title: 'Spotify Artist Tracker',
    lines: ["Track new albums for artists via a discord bot because spotify doesn't alert you"],
    links: [{ tag: 'GitHub', href: 'https://github.com/Kathund/SpotifyArtistTracker' }],
    built: [{ tag: 'Bun' }, { tag: 'TypeScript' }],
    involvement: 'Developer'
  },
  {
    title: 'Firmament',
    lines: ['Hypixel SkyBlock mod for 1.21.x'],
    links: [{ tag: 'GitHub', href: 'https://github.com/DuckySoLucky/hypixel-discord-chat-bridge' }],
    built: [{ tag: 'Kotlin' }, { tag: 'Minecraft' }],
    involvement: 'Contributor'
  }
];
---

<Layout title="Projects">
  <div class="grid grid-cols-1 grid-rows-1 gap-2 lg:grid-cols-2 lg:grid-rows-2">
    {
      projects.map((project) => (
        <Project
          title={project.title}
          lines={project.lines}
          links={project.links}
          built={project.built}
          involvement={project.involvement}
          path={project.path}
          client:only
        />
      ))
    }
  </div>
</Layout>
